/*

	Theme Name: bizskillsacademy

	Theme URI: http://onclickinnovations.com/

	Description: bizskillsacademy WordPress Theme

	Version: 1.4.3

	Author: Rohit Sharma

	Author URI: http://onclickinnovations.com/

	Tags: LMS, HTML5, CSS3



	License: MIT

	License URI: http://opensource.org/licenses/mit-license.php

*/



/*------------------------------------*\

    MAIN

\*------------------------------------*/



/* global box-sizing */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

*, *:after, *:before {

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;

	font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

}

/* html element 62.5% font-size for REM use */

html {

	font-size: 62.5%;

	

}

body {

	font-family: 'Open Sans', sans-serif;

	color: #444;

	font-size: 16px;

	

}

/* clear */

.clear:before, .clear:after {

	content: ' ';

	display: table;

}

.clear:after {

	clear: both;

}

.clear {

 *zoom:1;

}

img {

	max-width: 100%;

	vertical-align: bottom;

}

a {

	color: #444;

	text-decoration: none;

}

a:hover {

	color: #444;

}

a:focus {

	outline: 0;

}

a:hover, a:active {

	outline: 0;

}

input:focus {

	outline: 0;

	border: 1px solid #04A4CC;

}

/*------------------------------------*\

    STRUCTURE

\*------------------------------------*/



/* wrapper */

.wrapper {

	max-width: 1280px;

	width: 95%;

	margin: 0 auto;

	position: relative;

}

/* header */

.header {

}

/* logo */

.logo {

}

.logo-img {

}

/* nav */

.nav {

}

/* sidebar */

.sidebar {

}

/* footer */

.footer {

}

.navigations{

	 -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

.navigations ul {

	margin: 0;

	padding: 0

}

.navigations ul li {

	display: inline-block;

	

}

.navigations ul li a:hover {

	display: inline-block;

	border-bottom: 6px solid #000

}

.active {

	border-bottom: 6px solid #000 !important

}

.navigations ul li a {

	color: #000;

	font-size: 16px;

	padding: 26px 26px;

	display: inline-block;

	border-bottom: 6px solid #fff

}

.navigations ul li a:hover {

	text-decoration: none

}

.logo-img {

	padding: 15px 0

}

.course_container {

	background: #121417;

}

.livelecture_container{

	background:#6fb642

}

h1 {

	font-family: 'Roboto Condensed', sans-serif !important;

	font-size: 87px !important;

	font-weight: 700 !important;

	text-transform: uppercase !important;

	margin: 0 !important

}
.popular-posts ul{
	padding:0
}

.white {

	color: #fff;

}

.container_padding {

	padding: 70px 0;

	

}

h4 {

	font-family: 'Roboto Condensed', sans-serif !important;

	font-size: 30px !important;

	font-weight: 300 !important;

	text-transform: uppercase !important

}

.green {

	color: #74bf45;

}

p {

	font-size: 16px;

	font-family: 'Open Sans', sans-serif;

	font-weight: 300px;

	color: #fff;

}

.orange {

	background-color: #ffa500 !important;

	border-radius: 10px;

	color: #fff;

	text-decoration: none;

	font-size: 18px;

}

.button {

	padding: 15px 20px 15px 42px;

	display: inline-block;

	background: url(images/divder_right_side.png) 75% center no-repeat;

	text-transform: uppercase;

	font-family: 'Roboto Condensed', sans-serif !important;

	text-shadow: 0 0 3px #000;

	margin: 20px 0 0 0

}

.button span {

	background: url(images/forword_arrow.png) right center no-repeat;

	display: inline-block;

	height: 14px;

	padding-left: 70px;

	width: 21px;

}

.button:hover {

	text-decoration: none;

	color: #000;

}



.navigation{

	



}

/*------------------------------------*\

    PAGES

\*------------------------------------*/







/*------------------------------------*\

    IMAGES

\*------------------------------------*/







/*------------------------------------*\

	TYPOGRAPHY

\*------------------------------------*/







/*------------------------------------*\

    RESPONSIVE

\*------------------------------------*/



@media only screen and (min-width:320px) {

}



@media only screen and (min-width:480px) {

}



@media only screen and (min-width:768px) {

}



@media only screen and (min-width:1024px) {

}



@media only screen and (min-width:1140px) {

}



@media only screen and (min-width:1280px) {

}



@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\

    MISC

\*------------------------------------*/



::selection {

	background: #04A4CC;

	color: #FFF;

	text-shadow: none;

}

::-webkit-selection {

 background:#04A4CC;

 color:#FFF;

 text-shadow:none;

}

::-moz-selection {

 background:#04A4CC;

 color:#FFF;

 text-shadow:none;

}

/*------------------------------------*\

    WORDPRESS CORE

\*------------------------------------*/



.alignnone {

	margin: 5px 20px 20px 0;

}

.aligncenter, div.aligncenter {

	display: block;

	margin: 5px auto 5px auto;

}

.alignright {

	float: right;

	margin: 5px 0 20px 20px;

}

.alignleft {

	float: left;

	margin: 5px 20px 20px 0;

}

a img.alignright {

	float: right;

	margin: 5px 0 20px 20px;

}

a img.alignnone {

	margin: 5px 20px 20px 0;

}

a img.alignleft {

	float: left;

	margin: 5px 20px 20px 0;

}

a img.aligncenter {

	display: block;

	margin-left: auto;

	margin-right: auto;

}

.wp-caption {

	background: #FFF;

	border: 1px solid #F0F0F0;

	max-width: 96%;

	padding: 5px 3px 10px;

	text-align: center;

}

.wp-caption.alignnone {

	margin: 5px 20px 20px 0;

}

.wp-caption.alignleft {

	margin: 5px 20px 20px 0;

}

.wp-caption.alignright {

	margin: 5px 0 20px 20px;

}

.wp-caption img {

	border: 0 none;

	height: auto;

	margin: 0;

	max-width: 98.5%;

	padding: 0;

	width: auto;

}

.wp-caption .wp-caption-text, .gallery-caption {

	font-size: 11px;

	line-height: 17px;

	margin: 0;

	padding: 0 4px 5px;

}

.nav_stick {

	position:fixed;

	top:0;

	width:100%;

	background:#fff

}

.bypostauthor {

}



/*------------------------------------*\

    PRINT

\*------------------------------------*/



@media print {

* {

	background: transparent !important;

	color: #000 !important;

	box-shadow: none !important;

	text-shadow: none !important;

}

a, a:visited {

	text-decoration: underline;

}

a[href]:after {

	content: " (" attr(href) ")";

}

abbr[title]:after {

	content: " (" attr(title) ")";

}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {

	content: "";

}

pre, blockquote {

	border: 1px solid #999;

	page-break-inside: avoid;

}

thead {

	display: table-header-group;

}

tr, img {

	page-break-inside: avoid;

}

img {

	max-width: 100% !important;

}

@page {

	margin: 0.5cm;

}

p, h2, h3 {

	orphans: 3;

	widows: 3;

}

h2, h3 {

	page-break-after: avoid;

}

}

