/*
 Theme Name:   Willow Child
 Description:  Willow Child
 Author:       Solopine
 Template:     willow
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout
 Text Domain:  willow-child
*/
/* @import url("../twentyfourteen/style.css"); */
/* =Theme customization starts here
-------------------------------------------------------------- */

/*invite users */
/*invite template */
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
.panel-default > .panel-heading
{
    text-align: center;
}
.panel-body {
    padding: 15px;
    width: 40%;
    margin: 0px auto;
}
.submit_button
{
    color:#fff !important;
    background:#36d76a !important;
}
.border_class
{
 border:2px solid red !important;
}
.discount_code
{
    margin-bottom:18px; 
}
.multiple_emails-container { 
    border:1px #00ff00 solid; 
    border-radius: 1px; 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    padding:0; margin: 0; cursor:text; width:100%; 
}

.multiple_emails-container input { 

    width:100%; 
    border:0; 
    outline: none; 
    margin-bottom:30px; 
    padding-left: 5px; 
    
}

,,.multiple_emails-container input{
    border: 0 !important;
}

.multiple_emails-container input.multiple_emails-error {    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red !important; 
    outline: thin auto red !important; 
}

.multiple_emails-container ul { 
    list-style-type:none; 
    padding-left: 0; 
}
.multiple_emails-container {
    border: 1px #ccc solid !important;
}
.multiple_emails-email { 
    margin: 3px 5px 3px 5px; 
    padding: 3px 5px 3px 5px; 
`   
    border-radius: 3px; 
    background: #F3F7FD; 
}
.input-group
{
    width:100%;
}
.multiple_emails-close { 
    float:left; 
    margin:0 3px;
}
.invite_tempglyphicon
{
    top:4px;
}
.go_lms_button {
    padding-bottom:20px;
    float:right;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.go_lms_button > a {
    background: rgb(0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    float: left;
    padding: 4px 10px;
    width: auto;
    border: 1px solid #000;
}

/*end*/ 
.woocommerce-page .widget-title
{
    margin-top:0px !important;
}
.woocommerce-page #content
{
    margin-top:40px !important;
}
.order_details
{
    padding-left:0px !important;
}
ul.order_details
{
    padding-left:0px !important;
}
.common_course_Class
{
    margin-bottom:20px;
}
.widget-title
{
    margin-top:;
}

.course_page_list li
{
    font-size:22px;
    font-weight:600;
}
.top_space_course
{
    height:20px;
}
.course_head
{
    font-weight:700;
    color:#000;
    text-align:center;
}
.custom_bottom_gap
{
    height:20px;
}
.course_custom_container
{
     position: relative;
}
.course_image {
  display: block;
  width: 100%;
  height: auto;
}
.custom_course_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.text_course {
     color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 42% 22px;
}
.bronze_sec h4
{
    color:#fff;
}

.bronze_sec
{
    background-color:#9c4f01;
}
.silver_sec
{
    background-color:#c3c3c3;
}
.gold_sec
{
    background-color:#edb508;
}
.platinum_sec
{
    background-color:#dedede;
}
.course_title
{
    line-height:15px;
    font-size:15px;
}
.course_custom_container:hover .custom_course_overlay {
  opacity: 1;
}
.wcppec-checkout-buttons__button
{
    float:left;
}

.rpwwt-widget ul li {
    border-bottom: 1px solid #e4e4e4;
}
.single_comment
{
    margin-bottom:20px;
    float: left;
}
.ca_data_custom h3 {
    padding-bottom: 20px;
    padding-left: 15px;
}
.ca_custom
{
    border: 1px solid #e4e4d4;
    background-color:#fff;
}
span.comment-date {
    font-size: 12px;
    color: #70d49d;
    font-weight: 500;
}
._avatar img {
    border-radius: 50%;
}
.ca_data_custom
{
    width: 100%;
    margin:0px auto;
    box-sizing: border-box;
    padding: 5px 25px 5px 10px;
}
.single_comment p {
    font-size: 12px;
}
.single-blog-custom-sp h6 strong {

}
.ca_custom h6 {
    font-size: 15px;
    padding: 10px 0 0 0;
}   
.ca_data
{
    padding:20px;
}
.comment_area
{
    margin-top:30px ;
    background-color:#f7f7f7 !important;
    
}
.single-blog-custom-sp strong
{
    color:black !important;
}
.custom-single-blog-border{
    border:1px solid #e4e4d4;
}
.custom-single-blog-border_p
{
    padding:20px;
}
.custom_title_single_blog
{
    font-size:20px !important;
    color:black !important;
}
.content-single-blog_post p
{
    text-align:justify !important;
}
.custom_left
{
    float:left;
    width:65%;
}
.custom_social_sec .social_li
{
    padding-right:10px;
}
.custom_social_sec li
{
    padding-bottom:10px;
}
.aside-section
{
    border-left:0px !important;
}
.download_buttons_template a
{
    font-weight:600;
}

.content_keywords_single_publication
{
    border:1px solid #e4e4e4;
}
.summery_div_single_publication
{
    padding:20px;
}
.keyword_single_page
{
    padding:20px;
}
.single_publication_content_top h3
{
    font-size:20px;
}
.custom-publication_page .publication_download 
{
    padding-top:20px;
    padding-bottom:20px;
}

.summery_div_single_publication
{
    padding-bottom:20px;
   font-family:'Montserrat';
   color:#566264;
   line-height:1.8;
   text-align:justify;

}
.keyword_single_page    
{
   font-family:'Montserrat';
   color:#566264;
   line-height:1.8;
   text-align:justify;

}
.keyword_single_page .publication_keywords   
{
  padding-left:0px;
}
.summery_single_pub
{
    color:#5c6668 !important;
    font-size:14px;
    font-weight:600;
}
.download_buttons_template a
{
    color:#b0aeaf;
}
.download_buttons_template
{
    text-align:left;
    width:100%;
    padding-left:0px;
    list-style-type:none;
    display:inline-block;
}
.download_buttons_template li
{
    padding-right:20px;
    display:inline-block;
    float: left;
}
.download_buttons_template li span
{
    padding-right: 10px;
    float: left;
}
.download_buttons_template li a
{
        float: left;
}
.hero-image
{
     height: 550px;
     background-position: center 0px;
}
.hero-text h2
{
    text-transform:uppercase;
}
.single-publication-custom-sp
{
    margin-top:60px !important;
    width:80%;
    margin:0px auto;
} 
.single-blog-custom-sp
{
    margin-top:60px !important;
    width:80%;
    margin:0px auto;
} 
.icon_container
{
    position:relative;
}
.icon_absolute
{
    position:absolute;
    top:5px;
}
.read_button_template
{
    margin-bottom:25px !important;
}
.single-publication
{
    box-shadow:0px 4px 20px -5px rgba(0, 0, 0, 0.65);
}
.list_content_biz
{
    width:90%;
    margin:0px auto;
}
.custom_summery
{
    padding-left:0px !important;
}
.publication-archive
{
    line-height:1.8;
}
.publication_title a
{
    font-size:17px;
    color:black;
}
.publication_title 
{
    font-size:17px;
    color:black;
    padding-top:20px;
    padding-bottom:10px;
}
.publication_summary
{
        padding-bottom:12px;
}
.publication_date_and_download a
{
    color:#b0aeaf;
    font-size:14px;
}

.how-it-works ul {
    padding: 0 33px;
    font-size: 16px;
}

.how-it-works ul li {
    position: relative;
    list-style-type: none;
}

.how-it-works ul li::before {
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    left: -20px;
    right: 0;
    top: 0;
    bottom: 0;
}
.how_box .wpb_wrapper
{

margin-left:15px;
}
.how_box ul {
    padding: 0 33px;
    font-size: 16px;
}

.how_box ul li {
    position: relative;
    list-style-type: none;
}
.how_box ul li{
    font-size:14px;
    list-style-type:none;
}
.how_box ul li::before {
   content: " ";
display: inline-block;
font-style: normal;
font-weight: normal;
position: absolute;
left: -32px;
right: 0px;
top: 4px;
bottom: 0;
background-image: url("https://bizskillsacademy.com/bizcustom/wp-content/uploads/2018/03/tick-icon.png");
background-repeat: no-repeat;
background-size:21px;
}
.post-2364 .vc_custom_heading
{
    font-weight:600 !important;
}
.how_box .vc_column-inner  
{
    margin-left:15px;
    padding-left:0px;
    padding-top:30px;
    padding-bottom:20px;
    border:2px solid #f1f1f1;
    margin-bottom:50px;
}
.about_boxes_list
{
    padding-left:0px;
}
.about_boxes_list p
{
    font-size:12px;
}
.about_boxes_list b
{
    font-size:12px;
}
.about_boxes_list li
{
    height:90px;
    margin-right:10px; 
    width:18%;
    padding:1%;
    border:1px solid #ededed;
    list-style-type:none;
    display:inline-grid;
}
.page-id-2314 .our_team_about .wpb_single_image
{
    margin-bottom:5px !importatnt;
}
.our_team_about .wpb_wrapper
{
    padding-top:15px;
    padding-bottom:15px;
    background-color:#f7f7f7;
    margin-top:0px;
    margin-bottom:40px;
}
.our_team_about .vc_custom_heading
{
    line-height:30px;
    margin:0px auto;
    width:96%;
}
.icon_list
{
    padding-left:0px;
    list-style-type:none;
}
.icon_list li
{
    padding-top:30px;
    display:block;
    float:left;
}
.icon_list li span
{
    padding-top:10px;
    padding-right:25px;
    float:left;
}
.page-id-2314 .about_p1
{
    margin-right:15px;
    float:right;
    background-color:#0006;
    border:1px solid #303c32;
    margin-top:40px;
    margin-bottom:40px !important;
    padding-top:8px;
    padding-bottom:8px;
    width:70%;
}
.page-id-2314 .about_p2
{
    background-color:#0006;
    border:1px solid #303c32;
    margin-top:40px;
    margin-bottom:40px !important;
    padding-top:8px;
    padding-bottom:8px;
    width:70%;
}
.about_sec p 
{

    padding-bottom:24px;
    width:97%;
    color:#fff;
    text-align:center;
}
.hero-image h2
{
    color:#36d76a;
    font-weight:700;
    margin-bottom:0px;
}
#footer a
{
    font-weight:400;
    color:#fff;
    font-family: 'Montserrat' !important;
}
.hover_container {
    position: relative;
    width: 32%;
    float: left;
    margin-right:1%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
}

.hover_container:hover .image {
  opacity: 0.3;
}

.hover_container:hover .middle {
  opacity: 1;
}
.hover_container:hover .image-wrap h3 {
  opacity: 0;
}

.text {

    line-height:20px;
    text-align:justify;
    font-weight:500;
 /* background-color: grey;*/
    color: white;
    font-size: 17px;
    padding: 16px 32px;
}
.image-wrap {
   float:left;
    width: 100%;   
    height: 300px;
    margin: auto;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}
.image-wrap h3 {
    font-size:18px;
    color: #fff;
    text-align: center;
    top: 39%; 
    position: relative;
}
.content-section
{
    color:#566264;
}
/* Create three columns of equal width */
.header-section .navbar-nav > li > a:focus
{
color:#fff;
font-size:12px;
border:none;
}
#header-navigation
{
    text-align:center;
}
#menu-custom-designed-menu {
    float: none;
    width: auto;
    display: inline-block;
}
#custom_contact_sec .wpb_raw_code.wpb_content_element.wpb_raw_html{
    margin-bottom: 0px;
}

#first_div_solutions
{
    padding-top:60px;
}
.solution_page_img .vc_single_image-img.attachment-full {
    margin-top: -39px;
}
.columns {
    float: left;
    width: 100%;
    padding: 8px;
}
*:not(.fa) {
    font-family: 'Montserrat';
}
/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #70db93;
    color: white;
    font-size: 17px;
    font-family: Montserrat;
    line-height: 23px;
    font-weight: 700;
}

.header_pricing {
    padding: 17px 40px !important;
}

.sub_header_pricing {
    padding: 20px 0px !important;
}

/* List items */
.price li {
    padding: 6px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button_pricing_li {
    padding-top: 15px !important;
    padding-bottom: 25px !important;
}

/* The "Sign Up" button */
.button_pricing {
    font-size: 68px;
    font-weight: 500;
    background-color: #576264;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.button_pricing:hover {
    color: #fff;
}

.sub_header_pricing {
    min-height: auto;
    font-size: 16px;
    font-weight: bold !important;
    color: #5c6668 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 86%;
    margin: 0px auto;
    border-bottom: 2px solid #f5f5f5;
}

.footer_logo {
    height: 59px !important;
    width: 165px !important;
}

#section-9 .vc_custom_1521117322773 {
    padding-top: 0px !important;
}

.solution_contact .wpcf7-form-control {
    border: 1px solid #d7d8d7 !important;
}

.solution_contact .btn-large {
    background-color: #73d997 !important;
    border-radius: 2px !importatnt;
}

/*hero banner*/
.post-1952 p {
    color: #566264;
    width: 80%;
    font-size: 14px !important;
}

.post-1954 p {
    color: #566264;
    width: 80%;
    font-size: 14px !important;
}

.vc_btn3.vc_btn3-size-md {
    font-size: 13px !important;
}

.social_icon_tab {
    display: none;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 31px;
    color: #46d175;
}
.hero-text
{
    width:70%;
}
.hero-text p {

    font-weight: 400;
    font-size: 30px;
    text-align: Center;
    line-height: 50px;
    color:rgb(255, 255, 255);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.solution_page_button .vc_general {
    background-color: #70db93 !important;
    color: #fff !important;
    font-family: Montserrat !important ;
    font-weight: 800 !important;
}

/* The hero image */
.wysija-input {
    width: 60%;
}

.fa-envelope-o {
    color: #6ece8e;
}

.btn-large {
    border-radius: 7px;
}

.vc_custom_1521113900450 #ptsBlock_469623 .ptsCol .ptsColFooter {
    background-image: none !important;
}

.latest_grid_title {
    font-size: 14px;
}

.wpls-logo-showcase button.slick-next, .wpls-logo-showcase button.slick-next:active {
    background-color: #74da90 !important;
}

.wpls-logo-showcase .wpls-logo-cnt.slick-slide img {
    border: 1px solid #fff !important;
}

.slick-dots {
    display: none !important;
}

.wpls-logo-showcase .wpls-logo-cnt.slick-slide img {
    height: auto !important;
}

#header-navigation {
    text-transform: normal !important;
}

div#n2-ss-2 .n2-ss-layer .n2-font-bbd981028daeeaef4dcc2e070f5e4930-paragraph {
    font-size: 24px !important;
}

.skill_h2 {
    font-size: 30px;
}

.author_website_testimonial {
    font-weight: normal;
    text-align: Center;
    font-size: 20px !important;
}

.author_name_testimonial {
    color: #72d997;
    text-align: center;
}

.quote_start {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slick-prev {
    background-color: #576254;
    padding: 11px 4px;
    font-size: 15px;
    color: #Fff;
    border-radius: 17px;
    height: 35px;
    width: 35px;
}

.slick-next {
    background-color: #33d768;
    padding: 11px 14px;
    font-size: 15px;
    color: #Fff;
    border-radius: 17px;
    height: 35px;
    width: 35px;
}

.slick-dots {
    display: none;
}

.carousel-control .fa-chevron-left {
    background-color: #576254;
    padding: 11px 4px;
    font-size: 15px;
    color: #Fff;
    border-radius: 17px;
    height: 35px;
    width: 35px;
}

.carousel-control .fa-chevron-right {
    background-color: #33d768;
    padding: 11px 14px;
    font-size: 15px;
    color: #Fff;
    border-radius: 17px;
    height: 35px;
    width: 35px;
}

.custom_col p {
    font-size: 16px !important;
    color: #566264;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

#wpcf7-f1060-p1949-o1 .wpcf7-textarea {
    border-radius: 12px;
    border-color: #d3d3d3 !important;
    padding: 20px;
}

.vc_custom_1521032062394 .vc_btn3.vc_btn3-size-md {
    padding: 10px 20px !important;
    font-size: 15px !important;
}

#wpcf7-f1060-p1949-o1 .btn-large {
    width: 100%;
    max-width: 100%;
    background-color: #70db93;
    padding: 6px;
    font-size: 20px;
    font-weight: 500;
}

#wpcf7-f1060-p1949-o1 .wpcf7-text {
    padding: 20px;
    border-radius: 12px;
    border-color: #d3d3d3 !important;
    height: 52px;
}

.latest_thumb {
    border: none;
    background-color: #f5f5f5;
}

.page-id-1949 .latest_posts. thumb_latest {
    height: 300px !important;
}

.latest_grid_title {
    font-size: 17px;
    color: #333333;
    font-family: Montserrat;
    text-align: Center;
    margin: 10px;
}

.latest_grid_color {
    font-weight: 400;
    font-size: 14px;
    color: #566264;
    text-align: Center;
    margin: 10px;
}

.back_image_row .wpb_single_image {
    margin-bottom: 0px !important;
}

#ptsBlock_210352 .ptsCol-1 .ptsColHeader {
    background-color: #70db93 !important;
}

.entra_coontainer .wpb_raw_code {
    margin-bottom: 9px !important;
}

.entra_button button {
    background-color: #70db93 !important;
    color: #fff !important;
    float: right;
}

.entra_container .wpb_wrapper {
    float: right;
}

.intra_button button {
    background-color: #576264 !important;
    color: #fff !important;
}

.master_h2 .wpb_raw_code {
    margin-bottom: 9px;
}

.master_h2 span {
    color: #70dc94;
}

.master_heading_solution span {
    color: #70dc94;
}

.master_heading_solution {
    font-weight: 700;
    color: #526061;
    font-size: 30px;
}

.vc_btn3-size-md {
    font-family: inherit;
}

.master_h2 {
    font-weight: 700;
    text-align: Center;
    font-family: inherit;
    font-size: 30px;
    color: #5a6467;
}

section#title {
    display: none;
}

.skill_list {
    list-style-type: none;
    padding-left: 0px;
}

.skill_list img {
    padding-right: 10px;
}

.skill_list li {
    color: #566264;
    height: auto;
    padding-bottom: 10px;
}

.footer_logo {
    margin-bottom: 20px;
    width: 50%;
}

#footer dt, dd {
    line-height: 28px;
}

#footer .widget-title {
    color: #44b76a;
}

.widget_wysija_cont .wysija-submit {
}

.footer_list {
    list-style-type: none;
    padding-left: 3px;
}

.footer_list li {
    line-height: 28px;
}

#footer .widget-title {
    text-transform:inherit;
    font-size: 20px;
    color: #36d76a;
    margin-top: 6px !important;
    margin-bottom: 11px;
}

#footer h2 {
    font-size: 20px;
    color: #36d76a;
    margin-top: 6px;
    margin-bottom: 11px;
}

#footer > .custom_foot > .row {
    margin-top: 40px;
}

.white {
    color: #fff !important;
}

.dark-scheme.section {
    background-color: #fff !important;
    color: #000;
}

.wpb_willow_big_title {
    font-size: 30px !important;
}

.title-section {
    padding: 20px 0 !important;
}

.header-section {
    background: #263538 !important;
    border-color: #263538 !important;
}

.footer-group-section {
    background-color: #0d1f22 !important;
}

.vc_tta-color-black.vc_tta-style-flat .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-black.vc_tta-style-flat .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before, .vc_tta-color-black.vc_tta-style-flat .vc_tta-controls-icon::after, .vc_tta-color-black.vc_tta-style-flat .vc_tta-controls-icon::before {
    border-color: #0d1f22 !important;
}

.header-section .navbar-nav > li > a {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    font-family: Montserrat;
}

.login_button span {
    font-weight: 600;
    font-size: 14px;
}

.header-section .navbar-nav > li > a:hover {
    color: #70dc94 !important;
}

.vc_tta-panel-heading {
    background-color: #fff !important;
    border: 1px solid #0d1f22 !important;
}

.vc_tta-panel-heading a span {
    color: #36D76A !important;
}

.page-id-598 .white {
    font-size: 1.1em !important;
    font-family: inherit !important;
}

.white .section-title {
    opacity: 1 !important;
}

.footer-section .widget {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.footer-section {
    padding: 0 0 10px;
}

.footer-section .widget .widget-title {
    margin: 15px 0 !important;
}

.social-media-links > li > a {
    color: #36d76a !important;
}

.login_button a {
    color: #fff !important;
    display: inline-block;
    font-family: Montserrat;
    font-size: 13px;
}

.social-media-links > li > a > i {
    color: #36d76a;
}

dl {
    margin-bottom: 10px !important;
}

.footer-logo {
    display: none !important;
}

.copyright-section {
    padding: 20px 0 50px !important;
}

.center_text {
    text-align: center
}

p {
    text-align: justify;
}

.wppt-info-circle p, .center_tx p {
    text-align: center !important;
}

.footer-section .widget .widget-title::after {
    height: 0 !important;
}

.hero-middle-text {
    font-size: 45px !important;
    text-transform: none !important;
    margin-top: 30px !important;
}

.font18 {
    font-size: 18px !important
}

.left_new_rr {
}

#header-navigation a.current-menu-item {
    border-bottom: 1px solid blue;
}

.site-logo {
    padding-right: 35px;
}

.vc_gitem-zone-img {
    max-height: 230px;
}

.login #nav a {
    margin: 24px 0 0 !important;
    color: #fff !important;
    font-size: 16px !important;
}

.floating .login_button {
    margin-top: 17px !important;
}

.login_button {
    width: 18%;
    float: right;
    margin-top: 27px;
    color: #fff;
    text-align: center;
}
.login_button ul {
    float: right;
}

.logged_login_button {
    width: 18%;
    float: right;
    margin-top: 27px;
    color: #fff;
    text-align: right;    
}

#pmpro_levels_table {
    width: 100% !important;
}

#pmpro_pricing_fields p {
    text-align: justify;
}

#wpadminbar {
    background: #47d074 !important;
}

.login_button ul {
    display: inline-block;
}

.login_button ul li {
    display: inline-block;
}

.custom_button a {
    border: 1px solid #F44336 !important;
    background: #F44336 !important;
    color: #fff !important;
    padding: 10px !important;
    clear: both !important;
}

.home .vc_separator h4, .page-id-598 .vc_separator h4 {
    font-size: 150%;
}

.single-sfwd-courses .custom_button {
    display: none;
}

.wpb_willow_blog_grid .blog-grid-post-content p {
    font-size: 1.1em !important;
    font-family: open sans !important;
}

.header-section .navbar-nav > li .sub-menu a {
    color: #80c454 !important;
}

.csbwfs-sbutton a {
    height: 38px !important;
    border-radius: 0 5px 5px 0 !important;
}

.social_icon_tab {
    position: fixed;
    z-index: 10;
    top: 30%
}

.blog .content-post .post-thumbnail {
    margin: 0 -15px !important;
}

.blog .content-post {
    max-width: 100% !important;
}

.blog .content-post .post-content {
    margin: 10px 0 !important;
}

.blog .content-post .post-content .read-more {
    margin-top: 10px !important;
}

.blog .blog-loop .content-post {
    margin-bottom: 40px !important;
}

.wysija-input {
    background: #fff !important;
    color: #333 !important;
    padding-left: 5px !important;
    font-family: Roboto !important;
    border: none !important;
    float: left;
    margin-right: 10px;
}

.widget_wysija_cont .wysija-submit {
    background: #36d76a none repeat scroll 0 0;
    border: none;
    margin-top: 0px !important;
    padding: 1.2px 5px !important;
    float: left;
}

.home_services_heading h2 {
    font-size: 30px !important;
}

.blog .content-post .post-title {
    margin: 0 0 10px !important;
    font-size: 24px !important;
}

.wppt-info-circle {
    background: #36D76A !important;
}

.font16 {
    font-size: 16px;
}

.w3eden #shaon-pricing-table ul li.pricing-content-row-odd, .w3eden #shaon-pricing-table ul li.pricing-content-row-even {
    font-size: 13px !important;
    padding: 5px 14px !important;
}

.form-control {
    border: 1px solid #ccc !important;
}

.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    background-color: #36d76a !important;
}

.subs-btn {
    float: none !important;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.subs-btn > a {
    background: #47d074;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    float: left;
    padding: 4px 10px;
    width: auto;
    border: 1px solid #000;
}

.subs-btn > a:hover {
    background-color: #101010;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.hel-txt {
    float: left;
    padding: 5px 0 2px;
    width: 100%;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.24);
}

.vc_custom_1521707686368 p {
    width: 80%;
}

p {
    font-size: 14px;
}

.social_icon_tab ul li {
    list-style: none;
    padding: 2px 0
}

.main-section, .aside-section, .portfolio-images-section, .portfolio-details-section {
    padding-top: 0px !important;
}

#shaon-pricing-table.skin-blue .wppt-package-name, #shaon-pricing-table.skin-blue .wppt-package-info, #shaon-pricing-table.skin-blue .pricing-footer {
    background-color: #0d1f22 !important;
    border-color: #fff !important;
}

.social_icon_tab ul li:hover {
    box-shadow: 0 0 3px #ccc;
}

.social_icon_tab ul {
    margin: 0;
    padding: 0
}

.popular-posts ul {
    padding: 0
}

.wpp-list li {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.foot_notice {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 -5px 5px #ccc;
    font-weight: bold;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 500;
    display: none;
}

.custom_img_testi {
    margin: 0px auto;
    width: 115px;
    height: 115px;
    border: 2px solid #fff;
    outline: 2px solid #33d768;
}

.customized_testi_data {
    display: none;
}

.back_lates {
    height: 300px;
    position: relative;
    background-clip: padding-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
}

.additional_space {
    height: 30px;
    display: none;
}

.feature.pricing-content-row-odd:nth-last-child(2) {
    /*height: 50px;
    min-height: 50px !important;*/
    overflow: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease
}

.feature:nth-last-child(2) {
    cursor: pointer;
}

.login_button > div#logout_con {
    float: none !important;
    margin: 0 0 0 10px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    background-color: #47d074;
}

.login_button > div#logout_con > a {
    border: 1px solid #000;
    border-radius: 2px;
    float: left;
    padding: 4px 10px;
    color: #fff !important;
}

.login_button > div#logout_con > a:hover {
    background-color: #000;
    border: 1px solid rgb(0, 0, 0);
    color: #fff !important;
}

.comment-respond {
    float: left;
    width: 100%;
}

.wp-social-login-widget {
    display: none;
}

#txt_testimonial {
    height: 200px;
}

.cbp-qtcontent blockquote {
    border-color: rgba(0, 0, 0, 0) !important;
}

.cbp-qtcontent blockquote p:empty {
    display: none;
}

#pmpro_payment_information_fields .pmpro_thead-msg {
    background-image: url("https://bizskillsacademy.com/wp-content/uploads/2017/01/creditcards_logo-600x180.png");
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 70% auto;
    height: 70px;
    padding: 0;
}

.black-btn button {
    background-color: #000000 !important;
    color: #ffffff !important;
}

#subscriber-lms-btns {
    display: none;
}

.blog-loop .biztestimonial {
    display: none;
}

.bt-text iframe {
    width: 100% !important;
}

/*may 26*/

.header-section .header-separator {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.nav > li > a {
    padding: 10px 10px;
}

.login_button span {
    padding: 0px 10px;
    display: inline-block;
}

.login_button ul {
    padding-left: 0px;
}

.login_button_style {
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 4px 10px;
    width: auto;
    border: 1px solid #000;
    background-color: #47d074;
}

.publication_title {
    font-size: 17px;
}

span.date {
    padding: 0 !important;
    margin: 0;
}

.publication_summary {
    padding-left: 0px !important;
}

div#navigation .nav-next {
    display: none;
}

.home-templates {
    width: 100%;
    float: left;
}

.publication_thumbnail > img {
    width: auto;
}

.vc_empty_space {
    clear: both;
}

.single-publication div#primary {
    width: 65%;
    text-align: center;
    float: left;
}

.single-publication div#primary h1.entry-title {
    visibility: hidden;
}

/*june 9*/
.service-plan-details {
    margin: 0 !important;
    padding: 15px 0 !important;
}

.service-plan-details h3.small.heading.service-heading {
    font-size: initial !important;
    padding: 0 0 10px 0 !important;
    margin: 10px 0 !important;
}

.price-table-container .col-md-12 {
    text-align: center;
}

.price-table-container .col-md-12 .col-md-2 {
    float: none !important;
    margin: auto;
    display: inline-block;
}

.bigd {
    width: 185px;
    clear: right;
    margin: auto;
    min-width: 185px;
}

.wpb_text_column.wpb_content_element.leasing-software-info {
    display: none;
}

.available-plans-block {
    /*border: 1px solid #000;*/
    border-radius: 3px;
}

.available-plans-block #shaon-pricing-table .col-md-2 {
    margin: 0 18px;
}

/*july17*/
.available-plan-price-table {
    text-align: center;
}

.available-plan-price-table .wpb_column {
    margin: auto;
    display: inline-table;
    float: none;
}

.available-plan-price-table .w3eden .container-fluid {
    padding-left: 0 !important;
}

a#btn_multiple_project {
    display: block;
    border: 1px solid #36d76a;
    padding: 0 10px;
    border-radius: 2px;
}

a#btn_multiple_project:hover {
    border: 1px solid #000;
}

select#dlst_business_project_mak {
    padding: 4px 5px;
}

/*oct_16*/
#lms-project-con {
    text-align: center;
    padding: 30px 0 50px 0;
}

.project-delete-con {
    margin: auto;
    width: 500px;
    padding: 0;
    display: inline-block;
    height: auto;
    clear: both;
    box-sizing: border-box;
    position: relative;
    left: 0;
    right: 0;
    float: none;
    text-align: left;
}

.project-delete-con table, .project-delete-con table tr th, .project-delete-con table tr td {
    width: 100%;
    border: 1px solid #787777;
    border-collapse: collapse;
    padding: 10px;
}
.site-logo img
{
    width: 167px !important;
    height: 59px !important;
    max-width: 167px !important;
    max-height: 59px !important;
}
.header-section.header-floating.floating .site-logo {
    height: 80px;
}
.logo_showcase_name {
    text-align: Center;
    color: #848c8e !important;
    font-family: Montserrat;
    font-weight: 400;
    float: left;
    width: 100% !important;
}

.sf-menu > li:nth-child(2) a::after {
    margin-left: 30px !important;
}
.sf-menu > li:nth-child(2) a span.custom {
    color: #fff !important;
}
/*31march*/
.blog-meta .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left {
    width: 30px;
    float: left;
}
.blog-meta .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: 1.5em;
    height: 2em;
}    
.blog-meta .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon {    
    left: 10px;
}

.blog-grid-title h3 {
    font-size: 17px;
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
    margin-top: 15px;
    text-align: left !important;
    color:black;
}
.blog-meta .blog-grid-date,
.blog-meta .blog-grid-category {
    float: left;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.blog-meta .blog-grid-date p,
.blog-meta .blog-grid-category span {
    line-height: 35px;
    margin-bottom: 0;
}
.blog-meta, .blog-meta > div {  
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.blog-grid-title {
    padding: 0 20px 0 !important;
    margin-bottom: 0 !important;
    min-height: 70px;    
    height: auto;
    display: block;
}
.blog-grid-content {
    min-height: 226px;
    max-height: 300px;
}
.vc_gitem_row.vc_row:nth-child(2),
.vc_gitem_row.vc_row:nth-child(3) {
    padding: 0 10px 0 !important;
}
.vc_gitem_row .vc_gitem-col {
    padding: 0;    
}
.blog-grid-category.vc_grid-filter-color-grey > .vc_grid-filter-item:hover {
    background-color: transparent !important;
}
.blog-meta:first-child {
    padding-right: 0 !important;
}
.blog-meta:last-child {
    padding-left: 0 !important;
}
.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner .vc_icon_element-icon::before {
    font-size: .80em !important;
}
.vc_gitem_row:first-child .vc_gitem-col-align-left {
    padding: 0;
}
.vc_btn3.vc_btn3-color-success.vc_btn3-style-modern {
    border-color: #70db93 !important;
    background-color: #70db93 !important;
}
.vc_grid-item .vc_grid-item-mini {
    box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.65);
}
/*start-sidebar*/
.aside-section .widget .widget-title {
    text-align: left;
    font-size: 19px;
    font-weight: 500;
    margin: 20px 0;
}
.aside-section .widget .widget-title::before {
    top: inherit;
    z-index: 1;
    width: 50%;
    height: 1px;
    border-top: solid 3px #70d49d;
    bottom: -15px;
}

.sidebar ul {
    padding: 15px 0px;
}
.widget_categories ul li,
.widget_archive ul li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e1e1e1;
    list-style-image: url('https://bizskillsacademy.com/bizcustom/wp-content/uploads/2018/04/diamod-icon.png');
    list-style-position: inside;
}
.widget_categories ul li::before,
.widget_archive ul li::before {
    display: none;
}

.widget_categories ul li:hover,
.widget_archive ul li:hover {
    list-style-image: url('https://bizskillsacademy.com/bizcustom/wp-content/uploads/2018/04/diamod-icongreen.png');
}

.widget_categories ul li a ,
.widget_archive ul li a{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.aside-section .widget .widget-title span {
    padding: 5px 0px;
}
.widget_recent_entries ul li a {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
.rpwwt-widget a {
    color: #363636;
    font-size: 12px;
    font-weight: 500;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img {
    border-radius: 50%;
}
.sidebar .widget ul {
    padding: 30px 0px;
}
.rpwwt-post-date {
    color: #70d49d;
}
/*end-sidebar*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .custom_left
    {
        float:none;
        width:90% ;
        margin:0px auto;
    }
    .hero-image
    {
         height: 420px;
    }
    
    .how_box .container
    {
        width:100%;
    }
    .about_boxes_list
    {
        padding-left:0px;
    }
    .about_boxes_list p
    {
        font-size:12px;
    }
    .about_boxes_list b
    {
        font-size:12px;
    }
    .about_boxes_list li
    {
        height:auto;
        margin-right:10px; 
        width:34%;
        padding:1%;
        list-style-type:none;
        display:block;
        margin:0px auto;
        margin-bottom:25px !important;

    }
    .about_icon_section .master_heading_solution
    {
        text-align:center;
    }
    .icon_list
    {
        padding-left:0px;
        list-style-type:none;
    }
    .icon_list li
    {
        text-align:center;
        padding-top:30px;
        padding-right:25px;
        display:block;
        float:none;
    }
    .icon_list li span
    {
        padding-right:0px;
        padding-bottom:10px;
        text-align:center;
        display:block;
        float:none;
    }
    .page-id-2314 .about_p1
    {
        margin:0px auto;
        float:none;
        margin-top:40px;
        width:70%;
    }
    .page-id-2314 .about_p2
    {
        margin:0px auto;
        margin-top:0px;
        margin-bottom:40px !important;
        width:70%;
    }
    .about_sec p 
    {
        width:97%;
        color:#fff;
        text-align:center;
    }
    .middle
    {
        top:35px;
    }
    .image-wrap {
        float:none;
    }
     .hover_container
    {
        width:480px;
        float:none;
        margin:0px auto;
    }
    .text
    {
        padding:8px 16px;
    }
    .image-wrap h3
    {
        font-size:16px;
    }
    .contact_first
    {
        margin-bottom:17px;
    }
    .master_h2
    {
        font-size:20px;
    }
     ._space {
       display: none;
    }
        #first_div_solutions
    {
        padding-top:0px;
    }
    .master_heading_solution
    {
        font-size:20px;
    }
    .post-1952 p
    {
        width:100%;
    }
    .post-1954 p
    {
        width:100%;
    }
    .price {
        width:300px;
        margin: 0px auto;
    }

    .hero-text p {
         line-height:40px;
        font-size: 19px;
    }

    .hero-text h1 {
        font-size: 21px;
    }

    .hero-text {
        width: 90%;
    }

    .price .header {
        font-size: 18px;
    }

    .sub_header_pricing {
        font-size: 16px !important;
    }
     .new-home .master_h2 {
        font-size: 20px;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521552705719 {
        font-size: 16px;
        text-align: center !important;
        padding-bottom: 10px !important;
    }
    .skill_list img {
        padding-right: 5px;
        width: 20px;
        margin-bottom: 9px !important;
        float: left;
        margin-top: 1px;
    }
    .skill_list {        
        font-size: 12px;
        line-height: 17px;
    }
    .vc_custom_heading.vc_custom_1521108124423 {
        font-size: 14px;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521274669554 {
        font-size: 14px !important;
        padding-bottom: 0px !important;
        text-align: center !important;
    }
    .sub_header_pricing {
        margin-top: 0px !important;
        margin-bottom: 0px !important;  
        padding: 10px 0 0 0px !important;
    }
    .price li {
        padding: 0px; 
    }
    .item_text {
        font-size: 13px;
    }
    /*POPULAR PLANS*/
    .vc_custom_1521113501569 {
        padding-top: 10px !important;        
    }
    .vc_custom_1521113953671 {
        padding-bottom: 0px !important;
    }
    /*FEATURED COURSES*/
    .vc_custom_1521275316097 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521275713532 {    
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521108124423 {
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136734029 {
        padding-top: 20px !important;
    }
    .new-home h3.vc_custom_heading {
        font-size: 14px;
        text-align: center !important;
    }
    .vc_column-inner .wpb_wrapper p.vc_custom_heading {
        font-size: 14px;
        text-align: center !important;
    }
    .wpb_wrapper .vc_custom_1521117322773 {        
        padding-top: 0px !important;
    }
    .wpb_wrapper .vc_custom_1522136771133 {
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521537893958 {        
        padding-top: 0px !important;
    }
    .vc_custom_1521537893958 .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    .carousel-indicators .active.slide_li {
        display: block;
        float: none;
        margin: auto !important;
    }
    .carousel-indicators .slide_li {
        display: none;
        float: none;
        margin: auto !important;
    }
    #quote-carousel .carousel-indicators {   
        margin-right: 0px !important;
    }
    #quote-carousel .carousel-control.left {
        left: -35px !important;
    }
    #quote-carousel .carousel-control.right {
        right: -35px !important;
    }
    .item.active .custom_col p {
        font-size: 14px !important;
        text-align: center;
        line-height: inherit;
        
        visibility: visible;
        opacity: 1;
    }
    .item .custom_col p {
        font-size: 14px !important;
        visibility: hidden;
        opacity: 0;
    }
    #quote-carousel {        
        margin-top: 0px !important;
        padding-bottom: 10px !important;
    }
    .container .wpls-logo-showcase .wpls-logo-cnt.slick-slide img {
        height: auto !important;
    }
    #content .vc_custom_1521538058703 {        
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136785237 {
        padding-top: 20px !important;
    }
    .carousel-inner {
        
    }
    .carousel-inner > .item.active {
        visibility: visible;
        opacity: 1;
    }
    .carousel-inner > .item {
        visibility: hidden;
        opacity: 0;
    }
    #content .vc_custom_1522136795270 {
        padding-top: 20px !important;
    }
    .container .vc_custom_heading.vc_custom_1521204835189 {
        font-size: 20px;
        padding-top: 0 !important;
    }
    .container .vc_custom_1521204835189 {
        padding-bottom: 20px !important;
    }
    .logo_showcase_name {
       font-size: 100%;
    }
    .sf-menu > li:nth-child(2) a span.custom {
        display: block;
        width: 100%;
        margin-bottom: 15px
    }
    .logged_login_button
    {
        width:100%;
    }
     .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
    ._avatar {
        padding: 5px;
    }
}

@media (max-width: 320px) {
    .custom_left
    {
     padding-left:0px;
     padding-right:0px;   
    }
    .download_buttons_template li
    {
        margin-bottom:10px;
    }
    .hero-image
    {
         height: 318px;
    }
    .hover_container
    {
        width:100%;
        float:none;
    }
    .middle
    {
        top:18px;
    }
    .text
    {
        font-size:13px;
        padding:8px 16px;
    }
    .image-wrap h3
    {
        font-size:14px;
    }
    .how_box .vc_column-inner  
    {
        margin-left:0px;
    }
    .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
    .how_box .wpb_wrapper
    {
        margin-left:0px;
    }

    .how_box .container
    {
        width:80%;
    }

    .about_boxes_list
    {
        padding-left:0px;
    }
    .about_boxes_list p
    {
        font-size:12px;
    }
    .about_boxes_list b
    {
        font-size:12px;
    }
    .about_boxes_list li
    {
        height:auto;
        margin-right:10px; 
        width:80%;
        padding:1%;
        list-style-type:none;
        display:block;
        margin:0px auto;
        margin-bottom:25px !important;

    }
    .icon_list
    {
        padding-left:0px;
        list-style-type:none;
    }
    .icon_list li
    {
        text-align:center;
        padding-top:30px;
        padding-right:25px;
        display:block;
        float:none;
    }
    .icon_list li span
    {
        padding-right:0px;
        padding-bottom:10px;
        text-align:center;
        display:block;
        float:none;
    }

    .page-id-2314 .about_p1
    {
        float:none;
        background-color:#0006;
        border:1px solid #303c32;
        margin-top:40px;
        margin-bottom:20px !important;
        padding-top:8px;
        padding-bottom:8px;
        width:100%;
    }
    .page-id-2314 .about_p2
    {
        background-color:#0006;
        border:1px solid #303c32;
        margin-top:20px;
        margin-bottom:40px !important;
        padding-top:8px;
        padding-bottom:8px;
        width:100%;
    }
    .about_sec p 
    {
        width:97%;
        color:#fff;
        text-align:center;
    }
    .custom_summery_parent
    {
        margin-bottom:10px;
    }
    .how_box .vc_column-inner  
    {
        margin-left:0px;
    }
    .how_box .wpb_wrapper
    {
        margin-left:0px;
    }
    .how_box .container
    {
        width:80%;
    }
    .about_boxes_list
    {
        padding-left:0px;
    }
    .about_boxes_list p
    {
        font-size:12px;
    }
    .about_boxes_list b
    {
        font-size:12px;
    }
    .about_boxes_list li
    {
        height:auto;
        margin-right:10px; 
        width:60%;
        padding:4%;
        list-style-type:none;
        display:block;
        margin:0px auto;
        margin-bottom:25px !important;

    }
    .icon_list
    {
        padding-left:0px;
        list-style-type:none;
    }
    .icon_list li
    {
        text-align:center;
        padding-top:30px;
        padding-right:25px;
        display:block;
        float:none;
    }
    .icon_list li span
    {
        padding-right:0px;
        padding-bottom:10px;
        text-align:center;
        display:block;
        float:none;
    }
    .page-id-2314 .about_p1
    {
        float:none;
        background-color:#0006;
        border:1px solid #303c32;
        margin-top:40px;
        margin-bottom:20px !important;
        padding-top:8px;
        padding-bottom:8px;
        width:100%;
    }
    .page-id-2314 .about_p2
    {
        background-color:#0006;
        border:1px solid #303c32;
        margin-top:20px;
        margin-bottom:40px !important;
        padding-top:8px;
        padding-bottom:8px;
        width:100%;
    }
    .about_sec p 
    {
        width:97%;
        color:#fff;
        text-align:center;
    }
    .image-wrap {
        float:none;
    }
    .hover_container
    {
        width:100%;
        float:none;
    }
    .middle
    {
        top:18px;
    }
    .text
    {
        font-size:12px;
        padding:8px 16px;
    }
    .image-wrap h3
    {
        font-size:14px;
    }
    .master_h2
    {
        font-size:20px;
    }
    .post-1954 p
    {
        width:100%;
        text-align:center;
    }
    .contact_first
    {
        margin-bottom:17px;
    }
   .custom_submit_solution
    {
        margin:0px auto;
        text-align:Center;
    } 
    #custom_class_solutions
    {
        padding-left:20px;
        padding-right:20px;
    }
    .vc_btn3-container
    {
        display:block !important;
        text-align:center;
    }

     ._space {
       display: none;
    }
    #first_div_solutions
    {
        padding-top:0px; 
    }
    .logged_login_button
    {
        width:100%;
    }
    .vc_custom_1521711891834
    {
        padding-top:0px;
    }
    .post-1952 p
    {
        text-align:center;
        width:100%;
    }
    .master_heading_solution  {
        font-size: 20px;
        text-align: center !important;
    }

    .price {
        width:250px;
        margin: 0px auto;
    }

    .hero-text p {
        line-height:40px;
        font-size: 18px;
    }

    .hero-text h1 {
        font-size: 18px;
    }

    .hero-text {
        width: 90%;
    }

    .connect_footer {
        margin-top: 20px !important;
    }

    .price .header {
        font-size: 18px;
    }

    .sub_header_pricing {
        font-size: 16px !important;
    }

    .entra_container .wpb_wrapper {
        float: none;
        text-align: Center;
    }

    .intra_container .wpb_wrapper {
        float: none;
        text-align: Center;
    }

    .skill_h2 {
        font-size: 24px;
    }
    .new-home .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521552705719 {
        font-size: 16px;
        text-align: center !important;
        padding-bottom: 10px !important;
    }
    .skill_list img {
        padding-right: 5px;
        width: 20px;
        margin-bottom: 9px !important;
        float: left;
        margin-top: 1px;
    }
    .skill_list {        
        font-size: 12px;
        line-height: 17px;
    }
    .vc_custom_heading.vc_custom_1521108124423 {
        font-size: 14px;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521274669554 {
        font-size: 14px !important;
        padding-bottom: 0px !important;
        text-align: center !important;
    }
    .sub_header_pricing {
        margin-top: 0px !important;
        margin-bottom: 0px !important;  
        padding: 10px 0 0 0px !important;
    }
    .price li {
        padding: 0px; 
    }
    .item_text {
        font-size: 13px;
    }
    /*POPULAR PLANS*/
    .wpb_wrapper .vc_custom_1521113501569 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521113953671 {
        padding-bottom: 0px !important;
    }
    /*FEATURED COURSES*/
    .wpb_wrapper .vc_custom_1521275316097 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521275713532 {    
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521108124423 {
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136734029 {
        padding-top: 20px !important;
    }
    .new-home h3.vc_custom_heading {
        font-size: 14px;
        text-align: center !important;
    }
    .vc_column-inner .wpb_wrapper p.vc_custom_heading {
        font-size: 14px;
        text-align: center !important;
    }
    .wpb_wrapper .vc_custom_1521117322773 {        
        padding-top: 0px !important;
    }
    .wpb_wrapper .vc_custom_1522136771133 {
        padding-top: 20px !important;
    }

    .wpb_wrapper .vc_custom_1521537893958 {        
        padding-top: 0px !important;
    }
    .vc_custom_1521537893958 .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    .carousel-indicators .active.slide_li {
        display: block;
        float: none;
        margin: auto !important;
    }
    .carousel-indicators .slide_li {
        display: none;
        float: none;
        margin: auto !important;
    }
    #quote-carousel .carousel-indicators {   
        margin-right: 0px !important;
    }
    #quote-carousel .carousel-control.left {
        left: -35px !important;
    }
    #quote-carousel .carousel-control.right {
        right: -35px !important;
    }
    .item.active .custom_col p {
        font-size: 14px !important;
        text-align: center;
        line-height: inherit;       
        visibility: visible;
        opacity: 1;
    }
    .item .custom_col p {
        font-size: 14px !important;
        visibility: hidden;
        opacity: 0;
    }
    #quote-carousel {        
        margin-top: 0px !important;
        padding-bottom: 10px !important;
    }
    .container .wpls-logo-showcase .wpls-logo-cnt.slick-slide img {
        height: auto !important;
    }
    #content .vc_custom_1521538058703 {        
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136785237 {
        padding-top: 20px !important;
    }
    .carousel-inner {
        
    }
    .carousel-inner > .item.active {
        visibility: visible;
        opacity: 1;
    }
    .carousel-inner > .item {
        visibility: hidden;
        opacity: 0;
    }
    #content .vc_custom_1522136795270 {
        padding-top: 20px !important;
    }
    .container .vc_custom_heading.vc_custom_1521204835189 {
        font-size: 20px;
        padding-top: 0 !important;
    }
    .container .vc_custom_1521204835189 {
        padding-bottom: 20px !important;
    }
    .logo_showcase_name {
       font-size: 100%;
    }
    .sf-menu > li:nth-child(2) a span.custom {
        display: block;
        width: 100%;
        margin-bottom: 15px
    }

    .blog-meta {
        float: left;
        display: block;
        width: 100%;
    }
    .blog-grid-content {
        min-height: 250px;
        max-height: 325px;
    }
    .blog-meta:last-child {
        padding-left: 10px !important;
    }

    .single-publication  .custom_summery
    {
        padding-left:0px !important;
    }   
    .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
    .custom_summery
    {
        padding-left:0px;
    }
    ._avatar {
        padding: 5px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.hero-text h2 {
    	font-size:18px;
	}
    .custom_left
    {
        width:100% ;
        padding-left:0px;
        padding-right:0px; 
    }
    
    .download_buttons_template li
    {
        margin-bottom:10px;
    }
    .hero-image
    {
         height: 340px;
    }
    .custom_summery_parent
    {
        margin-bottom:10px;
    }
    .how_box .vc_column-inner  
    {
        margin-left:0px;
    }
    .how_box .wpb_wrapper
    {
    margin-left:0px;
    }
    .how_box .container
    {
        width:80%;
    }
    .about_boxes_list
    {
        padding-left:0px;
    }
    .about_boxes_list p
    {
        font-size:12px;
    }
    .about_boxes_list b
    {
        font-size:12px;
    }
    .about_boxes_list li
    {
        height:auto;
        margin-right:10px; 
        width:60%;
        padding:4%;
        list-style-type:none;
        display:block;
        margin:0px auto;
        margin-bottom:25px !important;
    }
    .icon_list
    {
        padding-left:0px;
        list-style-type:none;
    }
    .icon_list li
    {
        text-align:center;
        padding-top:30px;
        padding-right:25px;
        display:block;
        float:none;
    }
    .icon_list li span
    {
        padding-right:0px;
        padding-bottom:10px;
        text-align:center;
        display:block;
        float:none;
    }
    .page-id-2314 .about_p1
    {
        float:none;
        background-color:#0006;
        border:1px solid #303c32;
        margin-top:40px;
        margin-bottom:20px !important;
        padding-top:8px;
        padding-bottom:8px;
        width:100%;
    }
    .page-id-2314 .about_p2
    {
        background-color:#0006;
        border:1px solid #303c32;
        margin-top:20px;
        margin-bottom:40px !important;
        padding-top:8px;
        padding-bottom:8px;
        width:100%;
    }
    .about_sec p 
    {
        width:97%;
        color:#fff;
        text-align:center;
    }
    .image-wrap {
        float:none;
    }
    .hover_container
    {
        width:100%;
        float:none;
    }
    .middle
    {
        top:18px;
    }
    .text
    {
        font-size:14px;
        padding:8px 16px;
    }
    .image-wrap h3
    {
        font-size:14px;
    }
    .master_h2
    {
        font-size:20px;
    }
    .post-1954 p
    {
        width:100%;
        text-align:center;
    }
    .contact_first
    {
        margin-bottom:17px;
    }
   .custom_submit_solution
    {
        margin:0px auto;
        text-align:Center;
    } 
    #custom_class_solutions
    {
        padding-left:20px;
        padding-right:20px;
    }
    .vc_btn3-container
    {
        display:block !important;
        text-align:center;
    }

    ._space {
       display: none;
    }
    #first_div_solutions
    {
        padding-top:0px; 
    }
    .logged_login_button
    {
        width:100%;
    }
    .vc_custom_1521711891834
    {
        padding-top:0px;
    }
    .post-1952 p
	{
        text-align:center;
		width:100%;
	}
    .master_heading_solution  {
        font-size: 20px;
        text-align: center !important;
    }

    .price {
        width:250px;
        margin: 0px auto;
    }

    .hero-text p {
        line-height:40px;
        font-size: 18px;
    }

    .hero-text h1 {
        font-size: 18px;
    }

    .hero-text {
        width: 90%;
    }._avatar {
        padding: 5px;
    }

    .connect_footer {
        margin-top: 20px !important;
    }

    .price .header {
        font-size: 18px;
    }

    .sub_header_pricing {
        font-size: 16px !important;
    }

    .entra_container .wpb_wrapper {
        float: none;
        text-align: Center;
    }

    .intra_container .wpb_wrapper {
        float: none;
        text-align: Center;
    }

    .skill_h2 {
        font-size: 24px;
    }
    .new-home .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521552705719 {
        font-size: 16px;
        text-align: center !important;
        padding-bottom: 10px !important;
    }
    .skill_list img {
        padding-right: 5px;
        width: 20px;
        margin-bottom: 9px !important;
        float: left;
        margin-top: 1px;
    }
    .skill_list {        
        font-size: 12px;
        line-height: 17px;
    }
    .vc_custom_heading.vc_custom_1521108124423 {
        font-size: 14px;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521274669554 {
        font-size: 14px !important;
        padding-bottom: 0px !important;
        text-align: center !important;
    }
    .sub_header_pricing {
        margin-top: 0px !important;
        margin-bottom: 0px !important;  
        padding: 10px 0 0 0px !important;
    }
    .price li {
        padding: 0px; 
    }
    .item_text {
        font-size: 13px;
    }
    /*POPULAR PLANS*/
    .wpb_wrapper .vc_custom_1521113501569 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521113953671 {
        padding-bottom: 0px !important;
    }
    /*FEATURED COURSES*/
    .wpb_wrapper .vc_custom_1521275316097 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521275713532 {    
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521108124423 {
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136734029 {
        padding-top: 20px !important;
    }
    .new-home h3.vc_custom_heading {
        font-size: 14px;
        text-align: center !important;
    }
    .vc_column-inner .wpb_wrapper p.vc_custom_heading {
        font-size: 14px;
        text-align: center !important;
    }
    .wpb_wrapper .vc_custom_1521117322773 {        
        padding-top: 0px !important;
    }
    .wpb_wrapper .vc_custom_1522136771133 {
        padding-top: 20px !important;
    }

    .wpb_wrapper .vc_custom_1521537893958 {        
        padding-top: 0px !important;
    }
    .vc_custom_1521537893958 .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    .carousel-indicators .active.slide_li {
        display: block;
        float: none;
        margin: auto !important;
    }
    .carousel-indicators .slide_li {
        display: none;
        float: none;
        margin: auto !important;
    }
    #quote-carousel .carousel-indicators {   
        margin-right: 0px !important;
    }
    #quote-carousel .carousel-control.left {
        left: -35px !important;
    }
    #quote-carousel .carousel-control.right {
        right: -35px !important;
    }
    .item.active .custom_col p {
        font-size: 14px !important;
        text-align: center;
        line-height: inherit;       
        visibility: visible;
        opacity: 1;
    }
    .item .custom_col p {
        font-size: 14px !important;
        visibility: hidden;
        opacity: 0;
    }
    #quote-carousel {        
        margin-top: 0px !important;
        padding-bottom: 10px !important;
    }
    .container .wpls-logo-showcase .wpls-logo-cnt.slick-slide img {
        height: auto !important;
    }
    #content .vc_custom_1521538058703 {        
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136785237 {
        padding-top: 20px !important;
    }
    .carousel-inner {
        
    }
    .carousel-inner > .item.active {
        visibility: visible;
        opacity: 1;
    }
    .carousel-inner > .item {
        visibility: hidden;
        opacity: 0;
    }
    #content .vc_custom_1522136795270 {
        padding-top: 20px !important; 
        height:auto;
        margin-right:10px; 
        width:100%;
        padding:4%;
        list-style-type:none;
        display:block;
        margin:0px auto;ortant;
    }
    .container .vc_custom_heading.vc_custom_1521204835189 {
        font-size: 20px;
        padding-top: 0 !important;
    }
    .container .vc_custom_1521204835189 {
        padding-bottom: 20px !important;
    }
    .logo_showcase_name {
       font-size: 100%;
    }
    .sf-menu > li:nth-child(2) a span.custom {
        display: block;
        width: 100%;
        margin-bottom: 15px
    }

    .blog-meta {
        float: left;
        display: block;
        width: 100%;
    }
    .blog-grid-content {
        min-height: 250px;
        max-height: 325px;
    }
    .blog-meta:last-child {
        padding-left: 10px !important;
    }

   .single-publication  .custom_summery
    {
        padding-left:0px !important;
    }   
    .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
    .custom_summery
    {
        padding-left:0px;
    }
    ._avatar {
        padding: 5px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .custom_left
    {
        float:none;
        width:90% ;
        margin:0px auto;
    }
    .vc_date_container
    {
        float:left;
        width:100%;
    }
    .about_boxes_list li
    {
        height:119px;
    }
    .text
    {
        padding:16px 18px;
        font-size:14px;
        line-height:18px;
    }

      .hero-text p
    {
        font-size: 25px;

        line-height: 40px;

         font-weight: 400;   
    }
    .hero-text p
    {
        font-size: 25px;

        line-height: 40px;

         font-weight: 400;   
    }
    
    .price .header {
        padding: 17px 71px !important;
    }

    .sub_header_pricing {
        width: 63%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .vc_date_container
    {
        float:left;
        width:100%;
    }
    .text
    {
        font-size:14px;
        line-height:18px;
        padding:16px 18px;
    }
    .price .header {
        font-size:15px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .custom_left
    {
        float:none;
        width:90% !importatnt ;
        margin:0px auto;
    }
    .custom-publication_page
    {
        width:90% !important;
    }

    .vc_date_container
    {
        float:left;
        width:100%;
    }
    .about_boxes_list li
    {
        height:119px;
    }
    .text
    {
        font-size:13px;
        line-height:17px;
        padding:16px 17px;
    }

    .hero-text p
    {
        font-size: 25px;
        line-height: 40px;
        font-weight: 400;   
    }

    .hero-text h1 {
        font-size: 26px;
    }

    .hero-text {
        width: 80%;
    }

    .price .header {
        font-size: 15px;
    }
    .blog-meta {
        width: 100% !important;
    }
    .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .hero-text p
    {
        font-size: 30px;
        line-height: 50px;
        font-weight: 400;   
    }

    .sub_header_pricing {
        font-size:14px;
        width: 88%;
    }

    .price .header {
        font-size: 15px;
    }
    
    .hero-text h1 {
        font-size: 27px;
    }

    .hero-text {
        width: 70%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .text
    {
        padding:16px 18px;
    }
    #menu-custom-designed-menu
    {
        float:left;
    }
    .sub_header_pricing {
        font-size:15px;
        width: 88%;
    }

    .price .header {
        font-size: 15px;
    }

    .head_custom {
        width: 100% !important;
    }

    .login_button {
        width: 22%;
    }

    .logged_login_button {
        width: 30%;
    }
    .additional_space {
        display: none;
    }
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    .price .header {
        font-size:15px;
    }

    .hero-text p {
        font-size: 25px;
        line-height:40px;
    }

    .hero-text h1 {
        font-size: 26px;
    }

    .hero-text {
        width: 80%;
    }

    #section-12 #quote-carousel .carousel-indicators li {
        margin-right: 40px !important;
    }

    .additional_space {
        display: block;
    }

    .head_custom {
        width: 100% !important;
    }

    .login_button {
        width: 22%;
    }

    .logged_login_button {
        width: 30%;
    }

    .price .header {
        font-size: 18px;
    }

    .sub_header_pricing {
        font-size: 14px !important;
    }

    .connect_footer {
        margin-top: 60px;
    }
    .sf-menu > li:nth-child(2) a span.custom {
        display: inline-block;        
    }

    /* STYLES GO HERE */
     .vc_custom_heading.skill_h2.vc_custom_1521552705719 {
        font-size: 16px;        
        padding-bottom: 10px !important;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521274669554 {
        font-size: 14px !important;
        padding-bottom: 0px !important;        
    }
    .master_h2
    {
        font-size:20px;
    }
    .skill_list img {
        padding-right: 5px;
        width: 20px;
        margin-bottom: 9px !important;
        float: left;
        margin-top: 1px;
    }
    .skill_list {        
        font-size: 12px;
        line-height: 17px;
    }
    .container .vc_custom_heading.vc_custom_1521204835189 {
        font-size: 20px;
        padding-top: 0 !important;
    }
    .container .vc_custom_1521204835189 {
        padding-bottom: 20px !important;
    }
     /*POPULAR PLANS*/
    .wpb_wrapper .vc_custom_1521113501569 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521113953671 {
        padding-bottom: 0px !important;
    }
    /*FEATURED COURSES*/
    .wpb_wrapper .vc_custom_1521275316097 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521275713532 {    
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521108124423 {
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136734029 {
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521537893958 {        
        padding-top: 0px !important;
    }
    .vc_custom_1521537893958 .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    #content .vc_custom_1521538058703 {        
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136785237 {
        padding-top: 20px !important;
    } 
    #content .vc_custom_1522136795270 {
        padding-top: 20px !important;
    }
    #quote-carousel .carousel-indicators li {
        margin-right: 50px;
    }
    #quote-carousel {        
        margin-top: 0px !important;
        padding-bottom: 10px !important;
    }
    /*solutions-educational-institutions*/
    .master_heading_solution {
        font-size: 20px;
        margin-top: 0;
    }
    .post-1952 p {
        text-align: left;
        width: 100%;
    }
    .container .vc_custom_1521702263636 {
        padding-top: 0px !important;
    }
    #first_div_solutions {
        padding-top: 30px;
    }
    #content .vc_custom_1522232524977 {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }    
    /*end solutions-educational-institutions*/
    .blog-meta {
        width: 100% !important;
    }
    .blog-meta:last-child {
        padding-left: inherit !important;
    }
    .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
    .blog-grid-content p {
        line-height: 18px;
    }
    .blog-grid-title {
        min-height: 90px;
    }
    .custom_left {
        float: left;
    }
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .sf-menu > li:nth-child(2) a span.custom {
        display: block;
        width: 100%;
        margin-bottom: 15px
    }
    .vc_custom_heading.skill_h2.vc_custom_1521552705719 {
        font-size: 16px;        
        padding-bottom: 10px !important;
    }
    .vc_custom_heading.skill_h2.vc_custom_1521274669554 {
        font-size: 14px !important;
        padding-bottom: 0px !important;        
    }
    .master_h2
    {
        font-size:20px;
    }
    .skill_list img {
        padding-right: 5px;
        width: 20px;
        margin-bottom: 9px !important;
        float: left;
        margin-top: 1px;
    }
    .skill_list {        
        font-size: 12px;
        line-height: 17px;
    }
    .container .vc_custom_heading.vc_custom_1521204835189 {
        font-size: 20px;
        padding-top: 0 !important;
    }
    .container .vc_custom_1521204835189 {
        padding-bottom: 20px !important;
    }
     /*POPULAR PLANS*/
    .wpb_wrapper .vc_custom_1521113501569 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521113953671 {
        padding-bottom: 0px !important;
    }
    /*FEATURED COURSES*/
    .wpb_wrapper .vc_custom_1521275316097 {
        padding-top: 10px !important;        
    }
    .wpb_wrapper .vc_custom_1521275713532 {    
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521108124423 {
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136734029 {
        padding-top: 20px !important;
    }
    .wpb_wrapper .vc_custom_1521537893958 {        
        padding-top: 0px !important;
    }
    .vc_custom_1521537893958 .master_h2 {
        font-size: 20px;
        text-align: center !important;
    }
    #content .vc_custom_1521538058703 {        
        padding-bottom: 0px !important;
    }
    #content .vc_custom_1522136785237 {
        padding-top: 20px !important;
    } 
    #content .vc_custom_1522136795270 {
        padding-top: 20px !important;
    }
    #quote-carousel .carousel-indicators li {
        margin-right: 50px;
    }
    #quote-carousel {        
        margin-top: 0px !important;
        padding-bottom: 10px !important;
    }
    /*solutions-educational-institutions*/
    .master_heading_solution {
        font-size: 20px;
        margin-top: 0;
    }
    .post-1952 p {
        text-align: left;
        width: 100%;
    }
    .container .vc_custom_1521702263636 {
        padding-top: 0px !important;
    }
    #first_div_solutions {
        padding-top: 30px;
    }
    #content .vc_custom_1522232524977 {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }
    .hero-text p
    {
        font-size: 23px;
        line-height: 58px;
        font-weight: 400;
    }   
    
    /*end solutions-educational-institutions*/
    .blog-meta {      
        width: 100% !important;
    }
    .blog-meta:last-child {
        padding-left: inherit !important;
    }
    .vc_responsive .blog-meta .vc_grid-filter-color-grey {
        display: block !important;
    }
    .blog-grid-content p {
        line-height: 18px;
    }
    .blog-grid-title {
        min-height: 90px;
    }
    .blog-grid-content {
        min-height: 345px;
        max-height: 400px;
    }
    .custom_left {
        float: left;
    }
}

@media only screen and (min-device-width : 660px) and (max-device-width : 980px) {
    #section-12 #quote-carousel .carousel-indicators li {
        margin-right:45px !important;
    }
}

@media only screen and (min-device-width : 984px) and (max-device-width : 1200px) {
    #section-12 #quote-carousel .carousel-indicators li {
        margin-right:40px !important;
    }

    .price .header_pricing {
        font-size: 18px ;
    }

    .sub_header_pricing {
        font-size: 14px;
    }

    .additional_space {
        display: block;
    }

    /*#menu-custom-designed-menu
    {
        display:none;
    }
    .login_button
    {
        display:none;
    }
    .navbar-header
    {
        width:100%;
    } */
    .head_custom {
        width: 100%;
    }

    .login_button {
        width: 22%;
    }

    .logged_login_button {
        width: 30%;
    }
}

@media only screen and (max-width: 980px) {
    .price .header {
        font-size:18px !important;
    }

    .sub_header_pricing {
        font-size: 14px;
    }

    .first_field_contact {
        margin-bottom: 15px;
    }

    .sub_header_pricing {
        min-height: auto !important;
    }

    .additional_space {
        margin-top: 30px;
        display: block;
    }

    .customized_testi_data {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .skill_h2 {
        font-size:24px;
    }

    .entra_container .wpb_wrapper {
        float: none;
        text-align: Center;
    }

    .intra_container .wpb_wrapper {
        float: none;
        text-align: Center;
    }

    footer#footer {
        text-align: center;
    }

    .footer-section .widget .widget-title:after {
        width: 100%;
    }

    footer#footer .menu-main-container ul li:before {
        content: no-close-quote;
    }

    footer#footer .social-media-links > li {
        display: inline-block;
        float: none;
    }

    /*.portfolio-grid-loop.row{
        max-height:2000px !important;
    }*/
    .single-publication div#primary {
        float: none;
        margin: auto;
        width: 90%;
    }

    .page-template-default .single-publication, .publication-archive .single-publication {
        width: 100%;
    }

    .publication_thumbnail {
        text-align: center;
    }
}
.content-post .post-thumbnail img
{
    width:auto;
    margin:0px auto;
    display:block;

}