/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	h2.large.section-title {
	    font-size: 25px;
	}
	 .js-fittext {
		font-size: 25px !important;	
	}

	a.btn.btn-hero-default.js-anchor-link {
	    margin-bottom: 10px;
	    padding-left: 25.5px;
	    padding-right: 25.5px;
	}

	.foot_notice > img {
	    margin: auto;
	    display: table;
	    width: 20px;
	}
	.foot_notice{
		font-size: 10px;
	}
	#section-1 p {
	    text-align: justify;
	}
	#section-1 .vc_btn3-left {
		text-align: center;
	}
	#about-us .vc_column-inner.vc_custom_1465545255884 {
	    margin: 25px 0 0 0 !important;
	}
	.single-publication div#primary {
		float: none;
	    margin: auto;
	    width: 90%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

	h2.large.section-title {
	    font-size: 25px;
	}

	.js-fittext {
		font-size: 25px !important;	
	}
	a.btn.btn-hero-default.js-anchor-link {
	    margin-bottom: 10px;
	    padding-left: 25.5px;
	    padding-right: 25.5px;
	}

	.foot_notice > img {
	    margin: auto;
	    display: table;
	    width: 20px;
	}
	.foot_notice{
		font-size: 10px;    	
	}
	#section-1 p {
	    text-align: justify;
	}
	#section-1 .vc_btn3-left {
		text-align: center;
	}
	#about-us .vc_column-inner.vc_custom_1465545255884 {
	    margin: 25px 0 0 0 !important;
	}
	.single-publication div#primary {
		float: none;
	    margin: auto;
	    width: 90%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	h2.large.section-title {
	    font-size: 25px;
	}

	.js-fittext {
		font-size: 25px !important;	
	}

	a.btn.btn-hero-default.js-anchor-link {
	    margin-bottom: 10px;
	    padding-left: 25.5px;
	    padding-right: 25.5px;
	}

	.foot_notice > img {
	    margin: auto;
	    display: table;
	    width: 20px;
	}
	.foot_notice {
		font-size: 10px;    	
	}
	#section-1 p {
	    text-align: justify;
	}
	#section-1 .vc_btn3-left {
		text-align: center;
	}
	#about-us .vc_column-inner.vc_custom_1465545255884 {
	    margin: 25px 0 0 0 !important;
	}
	.single-publication div#primary {
		float: none;
	    margin: auto;
	    width: 90%;
	}
}